.publication-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.publication-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.publication-list li {
  margin-left: 0;
  padding-left: 0;
}
.publication-image {
  width: 140px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
  margin-left: 10px;
}
.publication-info {
  flex: 1;
}
.publication-item .publication-info p {
  font-size: 1.5rem;
  line-height: 1;
}
.publication-title {
  margin: 0;
font
}
.publication-item .publication-title {
  font-size: 1.8rem;
  font-weight: bold;
}
.publication-title a {
  color: #007acc;
  text-decoration: none;
}
.publication-title a:hover {
  text-decoration: underline;
}
.publication-authors {
  margin: 3px 0;
  color: #555;
}
.publication-conference {
  margin: 5px 0;
  color: #555;
  font-style: italic;
}
